
.calendar-button
{
    -fx-background-color: #000;
    -fx-border-color: #333;
    -fx-border-width: 2px;

    -fx-font-size:13;
    -fx-text-fill: #FFF;


    -fx-pref-width:90px;
    -fx-pref-height:90px;


    -fx-min-width:8em;
    -fx-min-height:8em;
}

.calendar-hbox
{
}

.calendar-button:hover
{
    -fx-background-color: #222;
    -fx-border-color: #FFF;
}

.calendar-button:pressed
{
    -fx-background-color: #333;
}

.out-of-range-button
{
    -fx-background-color: #222;
}


.calendar-label
{
    -fx-font-size:13;
    -fx-pref-width:8em;
}

.month-button-host
{
    -fx-font-size:13;
    -fx-max-width:8em;
}

.month-buttons
{
    -fx-min-width:80px;
    -fx-max-height:40px;
}
.month-buttons:hover
{

}
.month-buttons:pressed
{

}


.task-vbox
{
    -fx-background-color:transparent;

    -fx-border-width: 0px 2px 0px 2px;
    -fx-border-color: #FFF;

    -fx-padding:30 30 30 30;

}

.task-scroll-pane > .viewport
{
    -fx-background-color:transparent;
}
.task-scroll-pane
{
    -fx-background-color:transparent;
}

.task-button
{
    -fx-background-color:transparent;
    -fx-border-width:1px;
    -fx-border-color:white;
    -fx-text-fill:white;
}

.task-button:hover
{
    -fx-background-color:#4e4376;
}
.task-button:pressed
{
    -fx-border-width:2px;
}

.selected
{
    -fx-background-color:black;
}

.selected-task-view
{
    -fx-border-width:2px;
    -fx-border-color:white;
}