
.calendar-button
{
    -fx-background-color: #000;
    -fx-border-color: #333;
    -fx-border-width: 2px;

    -fx-font-size:13;
    -fx-text-fill: #FFF;


    -fx-pref-width:90px;
    -fx-pref-height:90px;


    -fx-min-width:8em;
    -fx-min-height:8em;


}

.calendar-hbox
{
}

.calendar-button:hover
{
    -fx-background-color: #222;
    -fx-border-color: #FFF;
}

.calendar-button:pressed
{
    -fx-background-color: #333;
}

.out-of-range-button
{
    -fx-background-color: #222;
}


.calendar-label
{
    -fx-font-size:13;
    -fx-pref-width:8em;
}

.month-button-host
{
    -fx-font-size:13;
    -fx-max-width:8em;

}

.month-buttons
{
    -fx-min-width:80px;
    -fx-max-height:40px;
}
.month-buttons:hover
{

}
.month-buttons:pressed
{

}